<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- Online using Office 365 -->
     <add name="Server=CRM Online, organization=singlestopusa, user=JPMorgan2"
         connectionString="Url=https://singlestopusa.crm.dynamics.com; Username=JPMorgan2@singlestopusa.org; Password=JPMCSingle$top;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
