<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <!-- Online using Office 365 -->
    <add name="Server=CRM Online, organization=singlestopusa, user=JPMorgan2"
        connectionString="Url=https://singlestopusa.crm.dynamics.com; Username=JPMorgan2@singlestopusa.org; Password=JPMCSingle$top;"/>
  </connectionStrings>
</configuration>
